body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
form,
button,
input {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: top;
}
em,
i {
  font-style: normal;
}
a,
input,
button {
  /*阴影*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*ios下圆角*/
  -webkit-appearance: none;
  border: none;
  outline: none;
}
html,
body {
  height: 100%;
  font-family: 'Helvetica';
  /*所有移动端的英文字体 */
  -webkit-text-size-adjust: 100%;
  overflow: -hidden;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
  /* for IE6 IE7 */
}
/*头部开始*/
#wrap {
  position: relative;
  height: 100%;
}
#wrap .con {
  height: 100%;
  overflow: hidden;
}
.header {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 1.11688312rem;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
}
.header .menu {
  width: 0.53246753rem;
  height: 0.85714286rem;
  padding: 0.25974026rem 0 0 0.51948052rem;
}
.header .menu a {
  width: 0.53246753rem;
  height: 0.44155844rem;
  display: block;
  background: url(../img/download.png);
  background-size: 7.32467532rem 0.80519481rem;
  background-position: 0 -0.15584416rem;
}
.header .login {
  height: 0.85714286rem;
  padding: 0.25974026rem 0.51948052rem 0 0;
  display: flex;
  display: -webkit-flex;
}
.header .login a {
  font-size: 0.31168831rem;
  color: white;
  align-items: center;
}
.header .search-con {
  position: relative;
  width: 6.88311688rem;
  height: 100%;
  margin: 0 auto;
  border-radius: 0.06493506rem;
}
.header .search-con .search {
  width: 100%;
  height: 0.85714286rem;
  vertical-align: top;
  margin-top: 0.1038961rem;
  text-indent: 0.27272727rem;
  border-radius: 0.06493506rem;
}
.header .search-con .search-submit {
  position: absolute;
  top: 0.28571429rem;
  right: 0.32467532rem;
  width: 0.44155844rem;
  height: 0.44155844rem;
  background: url(../img/download.png);
  background-size: 7.32467532rem 0.80519481rem;
  background-position: -2.16883117rem -0.14285714rem;
}
/*头部轮播图*/
.main-slide {
  position: relative;
  height: 4.7012987rem;
}
.main-slide ul {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.main-slide ul li {
  height: 100%;
  float: left;
}
.main-slide ul li a img {
  width: 100%;
  height: 100%;
}
.main-slide .dot {
  position: absolute;
  bottom: 0.20779221rem;
  width: 100%;
  line-height: 0;
  text-align: center;
}
.main-slide .dot span {
  width: 0.18181818rem;
  height: 0.18181818rem;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  vertical-align: top;
  border-radius: 0.09090909rem;
}
.main-slide .dot span.on {
  background: #F40;
}
/*功能模块*/
.module {
  height: 3.61038961rem;
  padding-top: 0.1038961rem;
}
.module ul {
  height: 1.57142857rem;
  margin-bottom: 0.1038961rem;
  display: flex;
  display: -webkit-flex;
}
.module ul li {
  width: 2rem;
  height: 1.55844156rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.module ul li a {
  display: block;
  height: 100%;
  text-align: center;
  font-size: 0.23376623rem;
  color: #000000;
}
.module ul li a img {
  width: 0.93506494rem;
  height: 0.93506494rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.06493506rem;
}
/*天猫热点*/
.todayFocus {
  height: 1.03896104rem;
}
.todayFocus .hotImg {
  width: 1.71428571rem;
  height: 100%;
  text-align: center;
  border-right: 1px solid #e7e7e7;
  float: left;
}
.todayFocus .hotImg img {
  width: 1.38961039rem;
  height: 0.96103896rem;
}
.todayFocus .news {
  width: 0.5974026rem;
  height: 0.5974026rem;
  float: left;
  margin: 0.25974026rem 0.25974026rem 0;
}
.todayFocus .todayCon {
  position: relative;
  width: 7.01298701rem;
  height: 100%;
  float: right;
  overflow: hidden;
}
.todayFocus .todayCon ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.todayFocus .todayCon ul li {
  height: 1.03896104rem;
}
.todayFocus .todayCon ul li a {
  display: block;
  height: 100%;
}
.todayFocus .todayCon ul li a span {
  display: block;
  height: 0.28571429rem;
  font-size: 0.28571429rem;
  padding: 0.1038961rem 0;
}
.todayFocus .todayCon ul li a span:nth-of-type(1) {
  color: black;
}
.todayFocus .todayCon ul li a span:nth-of-type(2) {
  color: red;
}
/*公共样式*/
.public-title {
  background: #f0f0f0;
}
.public-title ul {
  display: flex!important;
  box-sizing: border-box;
}
.public-title ul li a {
  display: block;
  text-align: center;
  height: 100%;
}
.public-title ul li {
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  background: white;
}
/*必抢*/
.public-title .title {
  height: 0.83116883rem;
  line-height: 0.77922078rem;
  text-align: center;
}
.public-title .title .line {
  display: inline-block;
  width: 0.88311688rem;
  height: 1px;
  border-bottom: 1px solid #F6B7B7;
  vertical-align: middle;
}
.public-title .title img {
  height: 0.41558442rem;
  vertical-align: middle;
}
.public-title .title .title-con {
  font-size: 0.38961039rem;
  color: #FF2E2E;
  vertical-align: middle;
}
.buy ul {
  height: 3.8961039rem;
  margin-bottom: 1px;
}
.buy ul li {
  margin-right: 1px;
  background: white;
}
.buy ul li a .title {
  display: block;
  font-size: 0.32467532rem;
  color: #2F2F2F;
  height: 0.7012987rem;
  line-height: 0.7012987rem;
  vertical-align: top;
}
.buy ul li a img {
  display: block;
  margin: 0 auto;
  width: 2.16883117rem;
  height: 2.16883117rem;
  vertical-align: top;
}
.buy ul li a .price {
  text-decoration: none;
  color: #ff2e2e;
  font-size: 0.25974026rem;
  vertical-align: top;
}
.buy ul li a .cost-price {
  text-decotation: none;
  font-size: 0.20779221rem;
  color: #9b9b9b;
  vertical-align: top;
}
/*品牌特卖*/
.Sale ul {
  height: 2.98701299rem;
}
.Sale ul li {
  height: 100%;
}
/*品牌资讯*/
.info ul {
  height: 4.67532468rem;
}
/*广告1*/
.ad {
  height: 2.49350649rem;
}
/*品牌生活*/
.live ul {
  height: 3.92207792rem;
}
.live ul li {
  height: 100%;
}
.live ul li:nth-child(1) {
  flex: 4.41558442rem;
  margin-right: 2px;
}
.live ul li:nth-child(2) {
  flex: 5.55844156rem;
  overflow: hidden;
}
.live ul li:nth-child(2) div {
  border-bottom: 2px solid #F0F0F0;
}
/* 猜你喜欢 */
.like ul {
  margin-bottom: 0.07792208rem;
}
.like ul li {
  height: 6.5974026rem;
}
.like ul li:nth-child(1) {
  margin-right: 0.07792208rem;
}
.like ul li a .pic {
  width: 4.96103896rem;
  height: 4.83116883rem;
}
.like ul li a .like-con {
  height: 1.72727273rem;
}
.like ul li a .like-con .title {
  height: 0.75324675rem;
  line-height: 0.45454545rem;
  font-size: 0.38961039rem;
  display: block;
  color: #666;
  overflow: hidden;
  padding: 0.12987013rem;
}
.like ul li a .like-con .price {
  display: block;
  color: #dd2727;
  font-size: 0.19480519rem;
  text-align: left;
  padding: 0.12987013rem;
}
.like ul li a .like-con .price .integer {
  font-size: 0.38961039rem;
}
